*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'lora', serif;
    color: #30475E;
}

    .pictures{
        /* width: 100%; */
        height: 100%; /* Is it really needed ? */
        object-fit: contain;
        margin-top: 5vh;
        margin-bottom: 2vh;
        max-width: 75%;
       
        


    }
    .card-group{
        flex-direction: column;
        align-items: stretch;
        

    }
    .card{
        margin: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        
        
        
    }
    .flavors, .countries, .spicynesses, .years, .brands{
        font-size: 60%;

    }
    .names{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 15px;
        
    }
    
@media only screen and (min-width : 768px) {

    .card-group{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15%;
        margin-left: 25%;
    }
    .card{
    // max-width: min-content;
    margin: 5%;
    width:  25%;
    border: 1px solid black;
    
        
    

    }

    .pictures{

        margin-top: 5vh;
        margin-bottom: 2vh;}
        
    
}